{* This is the welcome page, you can delete it *}

{block content}

{*page container*}
<div class="row">
      <div class="large-12 columns">
        <h1>Dasboard</h1>
      </div>
</div>
<div class="row">
    <div class="large-12 columns panel">
        <div class="large-7 small-pull-12 columns panel"></div>
        <div class="large-4 small-pull-12 columns panel"></div>
    </div>
</div>
{*end of page container*}
   
{/block}
